In [1]:
from sklearn.model_selection import train_test_split
from constants import *
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

X = pd.read_csv(output_path + "X.csv")
y = pd.read_csv(output_path + "y.csv")
#

X.head()

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,1,3,male,22.0,1,0,7.2500,S
1,1,2,1,female,38.0,1,0,71.2833,C
2,2,3,3,female,26.0,0,0,7.9250,S
3,3,4,1,female,35.0,1,0,53.1000,S
4,4,5,3,male,35.0,0,0,8.0500,S