In [4]:
import joblib

model = joblib.load("btc-usd-AutoTS-mae325-2023-02-28-13-28-40.joblib")
prediction = model.predict(forecast_length=19)
forecast = prediction.forecast
forecast = forecast[:len(forecast)-1]
forecast
# forecast.values[:, 0]

                   Close
2023-02-24  24241.735041
2023-02-25  23895.460585
2023-02-26  23306.415482
2023-02-27  23469.864118
2023-02-28  23465.405183
2023-03-01  23443.872975
2023-03-02  23424.376116
2023-03-03  23257.362168
2023-03-04  23259.659762
2023-03-05  23020.888953
2023-03-06  22819.323512
2023-03-07  22412.960794
2023-03-08  22530.559240
2023-03-09  22492.398223
2023-03-10  22545.430990
2023-03-11  22624.952123
2023-03-12  22775.221990
2023-03-13  23435.325793

In [2]:

from dslibs.simple_yahoo import get_from_yahoo

real = get_from_yahoo('BTC-USD', '2023-02-25', '2023-03-24')
real

Done

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-24,23946.007813,24103.705078,23007.072266,23198.126953,23198.126953,26811744928
1,2023-02-25,23200.125000,23210.210938,22861.558594,23175.375000,23175.375000,16100721565
2,2023-02-26,23174.150391,23654.367188,23084.220703,23561.212891,23561.212891,16644534842
3,2023-02-27,23561.451172,23857.890625,23205.878906,23522.871094,23522.871094,22660763494
4,2023-02-28,23521.837891,23585.384766,23077.650391,23147.353516,23147.353516,20535363434
5,2023-03-01,23150.929688,23880.632813,23088.626953,23646.550781,23646.550781,24662841200
6,2023-03-02,23647.019531,23739.138672,23245.021484,23475.466797,23475.466797,20386398516
7,2023-03-03,23476.632813,23479.347656,22213.238281,22362.679688,22362.679688,26062404610
8,2023-03-04,22362.923828,22405.177734,22198.980469,22353.349609,22353.349609,11166012913
9,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733
10,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757813,22429.757813,17353192895
11,2023-03-07,22428.322266,22527.417969,22011.261719,22219.769531,22219.769531,22765452204
12,2023-03-08,22216.441406,22268.896484,21708.050781,21718.080078,21718.080078,22536575684
13,2023-03-09,21720.080078,21802.716797,20210.306641,20363.021484,20363.021484,30364664171
14,2023-03-10,20367.001953,20370.595703,19628.253906,20187.244141,20187.244141,39578257695
15,2023-03-11,20187.876953,20792.525391,20068.660156,20632.410156,20632.410156,30180288176
16,2023-03-12,20628.029297,22185.031250,20448.806641,22163.949219,22163.949219,29279035521
17,2023-03-13,22178.580078,24427.390625,21918.199219,24257.193359,24257.193359,51609800704

In [5]:

import sklearn.metrics as skm
mae = skm.mean_absolute_error(real['Close'], forecast.values[:, 0])
mae

796.5648967477832

In [13]:
model.model_list

{'ConstantNaive': 1,
 'LastValueNaive': 1,
 'AverageValueNaive': 1,
 'GLS': 1,
 'SeasonalNaive': 1,
 'GLM': 1,
 'ETS': 1,
 'FBProphet': 0.5,
 'GluonTS': 0.5,
 'UnobservedComponents': 1,
 'VAR': 1,
 'VECM': 1,
 'ARIMA': 0.4,
 'WindowRegression': 0.5,
 'DatepartRegression': 1,
 'UnivariateRegression': 0.3,
 'MultivariateRegression': 0.4,
 'UnivariateMotif': 1,
 'MultivariateMotif': 1,
 'SectionalMotif': 1,
 'NVAR': 1,
 'Theta': 1,
 'ARDL': 1,
 'ARCH': 1,
 'MetricMotif': 1}