In [7]:
import joblib

model = joblib.load("btc-usd-AutoTS-mae325-2023-02-28-13-28-40.joblib")
prediction = model.predict(forecast_length=30)
forecast = prediction.forecast
forecast = forecast[:len(forecast)-1]
forecast
# forecast.values[:, 0]

                   Close
2023-02-24  24290.601748
2023-02-25  23545.099918
2023-02-26  23175.182029
2023-02-27  23320.893432
2023-02-28  23029.535619
2023-03-01  22748.064854
2023-03-02  22979.494553
2023-03-03  22947.510988
2023-03-04  22808.930959
2023-03-05  22939.992719
2023-03-06  21942.019841
2023-03-07  21653.833912
2023-03-08  21639.823481
2023-03-09  21036.323963
2023-03-10  19977.515002
2023-03-11  20156.509033
2023-03-12  19540.363398
2023-03-13  19585.412982
2023-03-14  19878.142221
2023-03-15  20385.469511
2023-03-16  20792.513368
2023-03-17  20847.619450
2023-03-18  21012.012732
2023-03-19  21242.437249
2023-03-20  21788.300655
2023-03-21  21398.480673
2023-03-22  21745.349183
2023-03-23  21866.873471
2023-03-24  21523.236876

In [13]:
model.model_list

{'ConstantNaive': 1,
 'LastValueNaive': 1,
 'AverageValueNaive': 1,
 'GLS': 1,
 'SeasonalNaive': 1,
 'GLM': 1,
 'ETS': 1,
 'FBProphet': 0.5,
 'GluonTS': 0.5,
 'UnobservedComponents': 1,
 'VAR': 1,
 'VECM': 1,
 'ARIMA': 0.4,
 'WindowRegression': 0.5,
 'DatepartRegression': 1,
 'UnivariateRegression': 0.3,
 'MultivariateRegression': 0.4,
 'UnivariateMotif': 1,
 'MultivariateMotif': 1,
 'SectionalMotif': 1,
 'NVAR': 1,
 'Theta': 1,
 'ARDL': 1,
 'ARCH': 1,
 'MetricMotif': 1}

In [5]:

from dslibs.simple_yahoo import get_from_yahoo

real = get_from_yahoo('BTC-USD', '2023-02-25', '2023-03-07')
real

Done

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-24,23946.007813,24103.705078,23007.072266,23198.126953,23198.126953,26811744928
1,2023-02-25,23200.125000,23210.210938,22861.558594,23175.375000,23175.375000,16100721565
2,2023-02-26,23174.150391,23654.367188,23084.220703,23561.212891,23561.212891,16644534842
3,2023-02-27,23561.451172,23857.890625,23205.878906,23522.871094,23522.871094,22660763494
4,2023-02-28,23521.837891,23585.384766,23077.650391,23147.353516,23147.353516,20535363434
5,2023-03-01,23150.929688,23880.632813,23088.626953,23646.550781,23646.550781,24662841200
6,2023-03-02,23647.019531,23739.138672,23245.021484,23475.466797,23475.466797,20386398516
7,2023-03-03,23476.632813,23479.347656,22213.238281,22362.679688,22362.679688,26062404610
8,2023-03-04,22362.923828,22405.177734,22198.980469,22353.349609,22353.349609,11166012913
9,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733
10,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757813,22429.757813,17353192895

In [6]:

import sklearn.metrics as skm
mae = skm.mean_absolute_error(real['Close'], forecast.values[:, 0])
mae

492.6592567978121