In [1]:
import pandas as pd
import logging, time, datetime
from autots import AutoTS
import matplotlib.pyplot as plt
from dslibs.simple_yahoo import get_from_yahoo

logging.getLogger('autots').setLevel(logging.ERROR)

pair = 'CHFPLN=X'

df = get_from_yahoo(pair, '2004-09-01', '2023-04-19')
df

Done

            Date     Open     High       Low    Close  Adj Close  Volume
0     2004-08-31  2.88380  2.89690  2.875800  2.88360    2.88360     0.0
1     2004-09-01  2.88410  2.89910  2.881700  2.89380    2.89380     0.0
2     2004-09-02  2.89390  2.89730  2.879900  2.88720    2.88720     0.0
3     2004-09-03  2.88710  2.89090  2.872800  2.87890    2.87890     0.0
4     2004-09-06  2.88270  2.88430  2.859800  2.86540    2.86540     0.0
...          ...      ...      ...       ...      ...        ...     ...
4856  2023-04-12  4.73399  4.73951  4.720680  4.73385    4.73385     0.0
4857  2023-04-13  4.72254  4.73937  4.713690  4.71990    4.71990     0.0
4858  2023-04-14  4.71555  4.74515  4.710389  4.71414    4.71414     0.0
4859  2023-04-17  4.72039  4.72853  4.709650  4.72073    4.72073     0.0
4860  2023-04-18  4.71710  4.71932  4.692240  4.71609    4.71609     0.0

[4861 rows x 7 columns]

In [2]:
import logging
import joblib
import time
import datetime

logging.getLogger('autots').setLevel(logging.ERROR)

start = time.time()
model = AutoTS(forecast_length=7, frequency='D', prediction_interval=1, ensemble='simple', random_seed=42, verbose=0)
model.fit(df, date_col='Date', value_col='Close')
print('Time[min]: ' + str((time.time() - start)/60))

current_time = time.time()
datetime_obj = datetime.datetime.fromtimestamp(current_time)
datetime_str = datetime_obj.strftime('%Y-%m-%d-%H-%M-%S')
filename = "chf-pln-AutoTS-"+datetime_str+".joblib"
joblib.dump(model, filename)

print("Model saved.")

Template Eval Error: ValueError('NaN, inf or invalid value detected in weights, estimation infeasible.') in model 1183: GLM
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1186: Theta
Template Eval Error: ModuleNotFoundError("No module named 'lightgbm'") in model 1187: MultivariateRegression
Template Eval Error: Exception('Transformer Detrend failed on fit') in model 1192: MetricMotif
Template Eval Error: Exception('Transformer Cointegration failed on fit') in model 1200: MultivariateMotif
Template Eval Error: Exception('Transformer Cointegration failed on fit') in model 1201: SectionalMotif
Template Eval Error: ValueError("regression_type='User' but no future_regressor supplied") in model 1205: UnobservedComponents
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1209: Theta
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1213: ARIMA
Template Eval Error: Exception('Transformer PowerTransformer failed on inverse') in model 1214: MultivariateRegression
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1218: GLM
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1219: ETS
Template Eval Error: Exception('Transformer QuantileTransformer failed on inverse') in model 1224: GLS
Template Eval Error: Exception('Transformer MaxAbsScaler failed on inverse') in model 1230: GLM
Template Eval Error: Exception('Transformer FastICA failed on inverse') in model 1235: GLS
Template Eval Error: Exception('Transformer MaxAbsScaler failed on inverse') in model 1242: Theta
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1243: ARDL
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1244: ARIMA
Template Eval Error: Exception('Transformer MaxAbsScaler failed on inverse') in model 1245: ARIMA
Template Eval Error: ValueError("regression_type='User' but no future_regressor passed") in model 1246: WindowRegression
Template Eval Error: Exception('Transformer MinMaxScaler failed on inverse') in model 1247: ARIMA
HolidayTransformer: no anomalies detected.
Template Eval Error: ValueError("regression_type='User' but no future_regressor supplied") in model 1248: UnobservedComponents
Template Eval Error: Exception('Transformer Cointegration failed on fit') in model 1253: UnivariateMotif
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 1254: ARDL
Template Eval Error: ValueError("regression_type='User' but no future_regressor passed") in model 1256: WindowRegression
Time[min]: 96.97824193239212
Model saved.

In [6]:
                # Wyświetlenie prognozy
# prediction = model.predict()#date_col='Date', value_col='Close')#test_data, )
prediction = model.predict(forecast_length=90)#date_col='Date', value_col='Close')#test_data, )
forecast = prediction.forecast

forecast
# df

               Close
2023-04-15  4.717307
2023-04-16  4.714353
2023-04-17  4.715244
2023-04-18  4.717606
2023-04-19  4.713342
...              ...
2023-07-09  4.754173
2023-07-10  4.756450
2023-07-11  4.758899
2023-07-12  4.758926
2023-07-13  4.772032

[90 rows x 1 columns]

In [7]:
print(model.best_model_name)
print(model.best_model_params)

Ensemble
{'model_name': 'BestN', 'model_count': 5, 'model_metric': 'bestn_horizontal', 'models': {'5dcdbd61f5d75fea0bf80486e184caae': {'Model': 'ETS', 'ModelParameters': '{"damped_trend": false, "trend": null, "seasonal": "multiplicative", "seasonal_periods": 4}', 'TransformationParameters': '{"fillna": "akima", "transformations": {"0": "Log", "1": "Detrend"}, "transformation_params": {"0": {}, "1": {"model": "Linear", "phi": 1, "window": null, "transform_dict": null}}}'}, '68e16f9b42a9c85508248cc718ca646f': {'Model': 'ETS', 'ModelParameters': '{"damped_trend": true, "trend": "multiplicative", "seasonal": "additive", "seasonal_periods": 16}', 'TransformationParameters': '{"fillna": "akima", "transformations": {"0": "Log", "1": "Detrend"}, "transformation_params": {"0": {}, "1": {"model": "Linear", "phi": 1, "window": null, "transform_dict": null}}}'}, '7b78f3041f525c7ee4815f81a665a6c8': {'Model': 'UnivariateMotif', 'ModelParameters': '{"window": 10, "point_method": "weighted_mean", "distance_metric": "canberra", "k": 15, "max_windows": 10000}', 'TransformationParameters': '{"fillna": "rolling_mean", "transformations": {"0": "MinMaxScaler", "1": "cffilter", "2": "MeanDifference"}, "transformation_params": {"0": {}, "1": {}, "2": {}}}'}, 'cfec0ee6253e2a24b8e4ad8805f003c7': {'Model': 'UnivariateMotif', 'ModelParameters': '{"window": 10, "point_method": "weighted_mean", "distance_metric": "braycurtis", "k": 10, "max_windows": 1000}', 'TransformationParameters': '{"fillna": "pchip", "transformations": {"0": "SeasonalDifference", "1": "DifferencedTransformer"}, "transformation_params": {"0": {"lag_1": 24, "method": "Median"}, "1": {}}}'}, 'ce7a2014ecd394903fd3f160de069770': {'Model': 'UnivariateMotif', 'ModelParameters': '{"window": 10, "point_method": "median", "distance_metric": "braycurtis", "k": 10, "max_windows": 10000}', 'TransformationParameters': '{"fillna": "pchip", "transformations": {"0": "SeasonalDifference", "1": "DifferencedTransformer", "2": "MaxAbsScaler"}, "transformation_params": {"0": {"lag_1": 24, "method": "Median"}, "1": {}, "2": {}}}'}}, 'point_method': 'median', 'model_weights': {}}

In [8]:

from dslibs.simple_yahoo import get_from_yahoo

real = get_from_yahoo('BTC-USD', '2023-03-25', '2023-04-02')
real

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-03-24,28324.111328,28388.437500,27039.265625,27493.285156,27493.285156,25980310960
1,2023-03-25,27487.337891,27791.826172,27196.234375,27494.707031,27494.707031,13383005987
2,2023-03-26,27495.523438,28178.144531,27445.046875,27994.330078,27994.330078,13878363192
3,2023-03-27,27994.068359,28037.925781,26606.689453,27139.888672,27139.888672,18188895178
4,2023-03-28,27132.888672,27460.718750,26677.818359,27268.130859,27268.130859,17783600385
5,2023-03-29,27267.031250,28619.542969,27259.662109,28348.441406,28348.441406,20684945906
6,2023-03-30,28350.140625,29159.902344,27720.160156,28033.562500,28033.562500,22435349951
7,2023-03-31,28032.261719,28639.896484,27583.714844,28478.484375,28478.484375,19001327598
8,2023-04-01,28473.332031,28802.457031,28297.171875,28411.035156,28411.035156,10876469901