In [3]:
from libs.simple_analyzer import print_simple_correlations
from constants import target_name, x_path, y_path
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

X = pd.read_csv(x_path)
y = pd.read_csv(y_path)

X.head()

,Unnamed: 0,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol
0,0,0.247788,0.397260,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846
1,1,0.283186,0.520548,0.116438,0.143573,0.338028,0.215548,0.209581,0.215385
2,2,0.283186,0.438356,0.095890,0.133556,0.197183,0.169611,0.191617,0.215385
3,3,0.584071,0.109589,0.068493,0.105175,0.225352,0.190813,0.149701,0.215385
4,4,0.247788,0.397260,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846

In [13]:
y.head()

   Unnamed: 0  quality
0           0        5
1           1        5
2           2        5
3           3        6
4           4        5

In [4]:
print_simple_correlations(X)

Correlations >= 0.3:

Unnamed: 0:

fixed acidity:

volatile acidity:

residual sugar:

chlorides:

free sulfur dioxide:

total sulfur dioxide:
 - free sulfur dioxide: 0.67

sulphates:
 - chlorides: 0.37

alcohol: